<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="resources/css/sistema.css">
</head>
<body>
	<div class="form">
		<!-- TITULO DE LA PAGINA-->
		<h1>PAGINA DE ADMINISTRADOR</h1>
		<h1>INICIO DE SESION</h1>
		<!-- FORMULARIO -->
		<form action="auth" method="POST">
			<input type="text" name="user" placeholder="USUARIO" autofocus>
			<input type="password" name="pass" placeholder="CONTRASEÑA">
			<input type="submit" class="bt-form-a" value="ENTRAR">
		</form>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<% if (typeof alert != "undefined") { %>
		<script>
			Swal.fire({
			title:'<%= alertTitle %>',
			text:'<%= alertMessage %>',
			icon:'<%= alertIcon %>',
			showConfirmButton: <%= showConfirmButton %>,
			timer: <%= timer %>
			}).then(()=>{
				window.location='/<%= ruta %>'
			})
		</script>
	<% } %>
</body>
</html>