<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="resources/css/web.css">
    <title>MENU</title>
  </head>
  <body>
    <!-- BARRA DE NAVEGACION -->
    <%- include('navbar') %>
    <!-- CONTENIDO DE LA PAGINA -->
    <section class="contenido">
      <div class="menu">
        <!-- DIV PARA DESAYUNOS -->
        <div class="container">
          <div class="row">
            <h1>DESAYUNOS</h1>
            <h2>DISPONIBLE DE 09:00 A 12:00</h2>
            <% desayunos.forEach((desayuno, index) => { %>
              <div class="col card-container">
                <div class="card" id="desayuno-card<%= index %>">
                  <div class="card-front">
                    <img src="<%= desayuno.imagen %>" alt="Imagen del platillo" class="img-menu">
                    <h5 class="card-title"><%= desayuno.nombre %></h5>
                    <p class="card-text">PRECIO: $<%= desayuno.precio %> PESOS</p>
                    <button class="btn btn-info" onclick="showDescription('desayuno', <%= index %>)">Ver más</button>
                  </div>
                  <div class="card-back" id="desayuno-back<%= index %>" style="display: none;">
                    <h5 class="card-title"><%= desayuno.nombre %></h5>
                    <p class="card-description"><%= desayuno.descrip %></p>
                    <button class="btn btn-close" onclick="hideDescription('desayuno', <%= index %>)"></button>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        </div>        
        <!-- DIV PARA COMIDAS -->
        <div class="container">
          <div class="row">
            <h1>COMIDAS</h1>
            <h2>DISPONIBLE DE 12:00 A 18:30</h2>
            <% comidas.forEach((comida, index) => { %>
              <div class="col card-container">
                <div class="card" id="comida-card<%= index %>">
                  <div class="card-front">
                    <img src="<%= comida.imagen %>" alt="Imagen del platillo" class="img-menu">
                    <h5 class="card-title"><%= comida.nombre %></h5>
                    <p class="card-text">PRECIO: $<%= comida.precio %> PESOS</p>
                    <button class="btn btn-info" onclick="showDescription('comida', <%= index %>)">Ver más</button>
                  </div>
                  <div class="card-back" id="comida-back<%= index %>" style="display: none;">
                    <h5 class="card-title"><%= comida.nombre %></h5>
                    <p class="card-description"><%= comida.descrip %></p>
                    <button class="btn btn-close" onclick="hideDescription('comida', <%= index %>)"></button>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
        <!-- DIV PARA BEBIDAS -->
        <div class="container">
          <div class="row">
            <h1>BEBIDAS</h1>
            <h2>DISPONIBLE DE 09:00 A 18:30</h2>
            <% bebidas.forEach((bebida, index) => { %>
              <div class="col card-container">
                <div class="card" id="bebida-card<%= index %>">
                  <div class="card-front">
                    <img src="<%= bebida.imagen %>" alt="Imagen del platillo" class="img-menu">
                    <h5 class="card-title"><%= bebida.nombre %></h5>
                    <p class="card-text">PRECIO: $<%= bebida.precio %> PESOS</p>
                    <button class="btn btn-info" onclick="showDescription('bebida', <%= index %>)">Ver más</button>
                  </div>
                  <div class="card-back" id="bebida-back<%= index %>" style="display: none;">
                    <h5 class="card-title"><%= bebida.nombre %></h5>
                    <p class="card-description"><%= bebida.descrip %></p>
                    <button class="btn btn-close" onclick="hideDescription('bebida', <%= index %>)"></button>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </div>        
    </section>
    <!-- SECCION INFERIOR DE LA PAGINA -->    
    <%- include('footer') %>
    <!-- SCRIPT PARA MOSTRAR U OCULTAR LA INFORMACION DE LOS PLATILLOS -->
    <script>
      function showDescription(category, index) {
        document.getElementById(`${category}-card${index}`).querySelector('.card-front').style.display = 'none';
        document.getElementById(`${category}-back${index}`).style.display = 'block';
      }
      function hideDescription(category, index) {
        document.getElementById(`${category}-card${index}`).querySelector('.card-front').style.display = 'block';
        document.getElementById(`${category}-back${index}`).style.display = 'none';
      }
    </script>
  </body>
</html>